{% extends "__layout__.html" %}

{% block title %} Społeczność {% endblock %}


{% block head %}
<h1> Profile użytkowniczek:</h1>
{% endblock %}


{% block content %}

{% for u in users %}

<div class="user">
    <p class="small-right"> data dołączenia: {{ u.date_joined | date:"d.m.Y"}} </p>
    <h2> {{u.first_name}}, {{u.patient.date_of_birth }} </h2>
    <ul>
        <li> czy mam dzieci: {% if u.patient.children %} Tak {% else %} Nie {% endif %}</li>
        <li> czy mam stomie: {% if u.patient.stoma %} Tak {% else %} Nie {% endif %}</li>
    </ul>
    <p class="small-txt"> {{ u.patient.medical_history }} </p>

    {% if user.is_authenticated %}
    <a class="btn small-btn" href="/message/"> napisz wiadomość </a>
    {% else %}
    <a class="btn small-btn" href="/login/"> napisz wiadomość </a>
    {% endif %}

</div>
{% endfor %}

{% endblock %}
