{% extends "__layout__.html" %}

{% block title %} CUDowne macierzyństwo {% endblock %}

{% block head %}
<div class="description small-txt">
    <p>Morbi faucibus est quam, a mollis felis porttitor et. Quisque nulla felis, facilisis condimentum consequat ut, cursus sit amet nisi. In venenatis arcu sed erat sollicitudin, in consequat libero dignissim. Vivamus sed tristique augue, eu aliquet orci. In pretium mauris elit, in pharetra eros varius sed. Aenean volutpat est quis maximus rutrum. Nam quam augue, tempor at faucibus vitae, rhoncus id turpis. Praesent at varius quam. Nulla congue massa massa, sed commodo ante tincidunt nec. </p>
</div>
{% endblock %}

{% block content %}
<h2>AKTUALNOŚCI:</h2>
<div class="article">
    <p class="date">autor: Magdalena Żuk | data: 2023-01-27  </p>
    <h4 class="title">Możliwość leczenia biologicznego w ciąży</h4>
    <p class="article-txt">Morbi faucibus est quam, a mollis felis porttitor et. Quisque nulla felis, facilisis condimentum consequat ut, cursus sit amet nisi. In venenatis arcu sed erat sollicitudin, in consequat libero dignissim. Vivamus sed tristique augue, eu aliquet orci. In pretium mauris elit, in pharetra eros varius sed. Aenean volutpat est quis maximus rutrum. Nam quam augue, tempor at faucibus vitae, rhoncus id turpis. Praesent at varius quam. Nulla congue massa massa, sed commodo ante tincidunt nec. </p>
</div>
{% endblock %}
