{% extends "__layout__.html" %}

{% block title %} Panel użytkownika {% endblock %}


{% block head %}
    <h2> Witaj {{ user.first_name }}!</h2>
{% endblock %}


{% block content %}

    <a class="btn" href="/visits/{{ user.id }}"> wizyty lekarskie </a> <br><br>
    <br>
    <a class="btn" href="/illness/{{ user.id }}"> opisz schorzenie </a> <br><br>
    <a class="btn" href="/edit/{{ user.id }}"> edytuj profil </a> <br><br>
    <a class="btn" href="/messages/{{ user.id }}/"> wiadomości </a>
    <br>
    {% if user.is_superuser %}
    <a class="btn" href="/add_visit/"> dodaj wolne wizyty lekarskie </a>
    {% endif %}

{% endblock %}
